<!DOCTYPE html>
<html>

  <head>
    <title>Contact | Alex Wolski</title>
    <!-- Meta data -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDNs -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Bluebird Promise library for IE support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <!-- Imports -->
    <link href="css/font.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/contact.css" rel="stylesheet">
    <script type="text/javascript" src="js/loadHtml.js"></script>
    <script type="text/javascript" src="js/copyEmail.js"></script>
    <!-- FavIcon -->
    <link rel="icon" href="images/favicon.ico" type="images/x-icon" />
  </head>

  <body>
  	<!-- Will be substituted with the navbar once it loads -->
  	<div id="navbar-placeholder"></div>
    <!-- A container for the contents of the page -->
    <div id="page-content">
      <h1 id="page-title"><b>Contact<b></h1>

      <!--  -->
      <div class="flex-container">
        <div class="flex-container">
          <span class="contact-info">
            <p>Phone</p>
            <span class="contact-icon fas fa-phone"></span>
            <p>(415) 342-1179</p>
          </span>

          <span class="contact-info">
            <p>Email</p>
            <span class="contact-icon fas fa-envelope"></span>
            <p>wolski.alexander.john@gmail.com</p>
          </span>
        </div>

        <div class="flex-container">
          <span class="contact-info">
            <p>Skype<p>
            <span class="contact-icon fab fa-skype"></span>
            <p>live:.cid.603e0696779e9285</p>
          </span>

          <span class="contact-info">
            <p>Zoom Meeting ID</p>
            <span class="contact-icon fas fa-video"></span>
            <p>533-399-7915</p>
          </span>
        </div>
      </div>

      <div class="flex-container">
        <span class="contact-info">
          <p>LinkedIn</p>
          <span class="contact-icon fab fa-linkedin-in"></span>
          <p>Lets Connect</p>
        </span>

        <span class="contact-info">
          <p>Github</p>
          <span class="contact-icon fab fa-github"></span>
          <p>View My Projects</p>
        </span>
      </div>
    </div>

    <!-- Will be substituted with the footer once it loads -->
    <div id="footer-placeholder"></div>
  </body>

  <script type="text/javascript">
    //Load the navbar and footer once the page loads
    loadNavbar('navbar-placeholder');
    loadFooter('footer-placeholder');
  </script>

</html>