<!DOCTYPE html>
<html>

  <head>
    <title>Contact | Alex Wolski</title>
    <!-- Meta data -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDNs -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Bluebird Promise library for IE support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <!-- Imports -->
    <link href="css/font.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/copyPopup.css" rel="stylesheet">
    <link href="css/contact.css" rel="stylesheet">
    <script type="text/javascript" src="js/loadHtml.js"></script>
    <script type="text/javascript" src="js/copyText.js"></script>
    <!-- FavIcon -->
    <link rel="icon" href="images/favicon.ico" type="images/x-icon" />
  </head>

  <body>
  	<!-- Will be substituted with the navbar once it loads -->
  	<div id="navbar-placeholder"></div>
    <!-- A container for the contents of the page -->
    <div id="page-content">
      <h1 class="page-title" style="margin-bottom: 30px;"><b>Contact</b></h1>

      <!-- Links to contacts and other websites -->
      <div class="contacts-grid" style="margin: auto;">
        <div class="contacts-grid">
          <a href="tel:+1-415-342-1179" class="no-underline">
            <div class="contact-info" href="tel:+1-415-342-1179" class="no-underline">
                <div class="contact-title">Phone</div>
                <div class="contact-icon fas fa-phone"></div>
                <div class="contact-text">+1 (415) 342-1179</div>
            </div>
          </a>

          <div class="contact-info" onclick="copyText('wolski.alexander.john@gmail.com', 'copied-email', 90)">
            <div class="contact-title">Email</div>
            <div class="contact-icon fas fa-envelope">
              <div id="copied-email" class="fade-out copied-popup">
                Copied!
                <div class="popup-triangle"></div>
              </div>
            </div>
            <div class="contact-text"><span>wolski.alexander<wbr>.john<wbr/>@gmail.com</span></div>
          </div>
        </div>

        <div class="contacts-grid">
          <div class="contact-info" onclick="copyText('live:.cid.603e0696779e9285', 'copied-skype', 90)">
            <div class="contact-title">Skype</div>
            <div class="contact-icon fab fa-skype">
              <div id="copied-skype" class="fade-out copied-popup">
                Copied!
                <div class="popup-triangle"></div>
              </div>
            </div>
            <div class="contact-text"><span>live:<wbr>.cid<wbr/>.603<wbr/>e0696779e9285</span></div>
          </div>

          <div class="contact-info" onclick="copyText('533-399-7915', 'copied-zoom', 90)">
            <div class="contact-title">Zoom Meeting ID</div>
            <div class="contact-icon fas fa-video">
              <div id="copied-zoom" class="fade-out copied-popup">
                Copied!
                <div class="popup-triangle"></div>
              </div>
            </div>
            <div class="contact-text">533-399-7915</div>
          </div>
        </div>
      </div>

      <h1 class="page-title" style="margin-top: 50px; margin-bottom: 30px;"><b>Other Links</b></h1>

      <div class="contacts-grid" style="margin: auto;">
        <div class="contacts-grid" style="grid-gap: 0em 1em;">
          <!-- Placeholder column -->
          <div></div>

          <div class="contact-info">
            <a class="no-underline" target="_blank" href="https://www.linkedin.com/in/alexjwolski/">
              <div class="contact-title">LinkedIn</div>
              <div class="contact-icon fab fa-linkedin-in"></div>
              <div class="contact-text">Lets Connect!</div>
            </a>
          </div>
        </div>

        <div class="contacts-grid" style="grid-gap: 0em 1em;">
          <div class="contact-info">
            <a class="no-underline" target="_blank" href="https://github.com/AlexWolski">
              <div class="contact-title">Github</div>
              <div class="contact-icon fab fa-github"></div>
              <div class="contact-text">View My Projects</div>
            </a>
          </div>

          <!-- Placeholder column -->
          <div></div>
        </div>
      </div>
    </div>

    <!-- Will be substituted with the footer once it loads -->
    <div id="footer-placeholder"></div>
  </body>

  <script type="text/javascript">
    //Load the navbar and footer once the page loads
    loadNavbar('navbar-placeholder');
    loadFooter('footer-placeholder');
  </script>

</html>