<!DOCTYPE html>
<html>

  <head>
    <!-- Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Icons -->
    <link href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" rel="stylesheet">
    <!-- Imports -->
    <link href="css/prefixed/font.css" rel="stylesheet">
    <link href="css/prefixed/footer.css" rel="stylesheet">
    <link href="css/prefixed/copyPopup.css" rel="stylesheet">
  </head>

  <body>
    <div id="footer">
      <div style="padding-top: 5px;">Copyright © Alex Wolski 2020</div>
      <div class="unselectable">
        <a class="footer-link fab fa-linkedin-in" target="_blank" href="https://www.linkedin.com/in/alexjwolski/"></a>
        <a class="footer-link fab fa-github" target="_blank" href="https://github.com/AlexWolski"></a>
        <div class="footer-link fas fa-envelope" onclick="copyText('wolski.alexander.john@gmail.com', 'copied-email-footer', 40)">
          <div id="copied-email-footer" class="fade-out copied-popup">
            Copied!
            <div class="popup-triangle"></div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>