<!DOCTYPE html>
<html>

  <head>
    <title>Home | Alex Wolski</title>
    <!-- Meta data -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDNs -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- less.min.js import -->
    <link rel="stylesheet/less" type="text/css" href="css/profilePicture.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    <!-- Bluebird Promise library for IE support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <!-- Imports -->
    <link href="css/font.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <script type="text/javascript" src="js/loadHtml.js"></script>
    <script type="text/javascript" src="js/profilePicture.js"></script>
    <script type="text/javascript" src="js/copyEmail.js"></script>
    <!-- FavIcon -->
    <link rel="icon" href="images/favicon.ico" type="images/x-icon" />
  </head>

  <body>
  	<!-- Will be substituted with the navbar once it loads -->
  	<div id="navbar-placeholder"></div>
    <!-- A container for the contents of the page -->
    <div id="page-content">
      <div class="flex-container">
        <!-- Progress circle for profile picture. Modified from https://medium.com/@andsens/radial-progress-indicator-using-css-a917b80c43f9 -->
        <div class="radial-progress">
          <div class="circle">
            <div class="mask full">
              <div class="fill"></div>
            </div>
            <div class="mask half">
              <div class="fill"></div>
              <div class="fill fix"></div>
            </div>
          </div>
          <div class="inset"></div>
          <img class="profile-picture" src="../images/profile-picture.jpg" alt="Profile picture">
        </div>
        <div class="intro-text">
        	<h1 class="intro-title">Alex Wolski</h1>
        	<p class="intro-item">A <span class="highlight-text">software developer</span> in the San Francisco bay area.</p>
        	<p class="intro-item">Recent graduate from <span class="highlight-text">San Francisco State Univeristy</span>.</p>
        	<p class="intro-item">Experienced in <span class="highlight-text">web design</span>, <span class="highlight-text">application development</span>, and <span class="highlight-text">game development</span>!</p>
        </div>
      </div>
    </div>

    <!-- Will be substituted with the footer once it loads -->
    <div id="footer-placeholder"></div>
  </body>

  <script type="text/javascript">
    //Load the navbar and footer once the page loads
    loadNavbar('navbar-placeholder');
    loadFooter('footer-placeholder');
  </script>

</html>