<!DOCTYPE html>
<html>

  <head>
    <!-- Bootstrap CDN -->
  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  	<!-- Imports -->
    <link href="css/production/font.css" rel="stylesheet">
  	<link href="css/production/navbar.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="/">Alex Wolski</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-navitems" aria-controls="collapsible-navitems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="collapsible-navitems" class="collapse navbar-collapse">
        <span id="nav-link-container" class="navbar-nav ml-auto">
<!--           <li class="nav-item">
            <a id="about" class="nav-link" href="/about">About</a>
          </li> -->

          <li class="nav-item">
            <a id="projects" class="nav-link" href="/projects">Projects</a>
          </li>

          <li class="nav-item">
            <a id="resume" class="nav-link" href="/resume">Resume</a>
          </li>

          <li class="nav-item">
            <a id="contact" class="nav-link" href="/contact">Contact</a>
          </li>
        </span>
      </div>
    </nav>
  </body>

</html>