<!DOCTYPE html>
<html>

  <head>
    <title>Projects | Alex Wolski</title>
    <!-- Meta data -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDNs -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Bluebird Promise library for IE support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <!-- Imports -->
    <link href="css/production/font.css" rel="stylesheet">
    <link href="css/production/index.css" rel="stylesheet">
    <link href="css/production/navbar.css" rel="stylesheet">
    <link href="css/production/footer.css" rel="stylesheet">
    <link href="css/production/copyPopup.css" rel="stylesheet">
    <link href="css/production/projects.css" rel="stylesheet">
    <script type="text/javascript" src="js/loadHtml.js"></script>
    <script type="text/javascript" src="js/copyText.js"></script>
    <!-- FavIcon -->
    <link rel="icon" href="images/favicon.ico" type="images/x-icon" />
  </head>

  <body>
  	<!-- Will be substituted with the navbar once it loads -->
  	<div id="navbar-placeholder"></div>
    <!-- A container for the contents of the page -->
    <div id="page-content">
      <h1 class="page-title"><b>Projects<b></h1>

      <!-- Code modified from Bootsnip, written by ravi: https://bootsnipp.com/snippets/3Meen -->
      <div class="grid">
        <figure class="anim-card" style="background-color: #FF3706;">
          <a target="_blank" href="https://github.com/669-Development-Team">
            <img src="../images/projects/MFVR-thumb.jpg" alt="MFVR"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop" style="background-color: #FF3706;"></div>
                <span>Mecha Fighter VR</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop" style="background-color: #FF3706;"></div>
                <span>A cool fun VR game</span>
              </div>
            </figcaption>
          </a>
        </figure>

        <figure class="anim-card" style="background-color: #005CE1;">
          <a target="_blank" href="https://github.com/AlexWolski/csc648-SafeSF">
            <img src="../images/projects/SafeSF-thumb.jpg" alt="MFVR"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop" style="background-color: #005CE1;"></div>
                <span>Safe SF</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop" style="background-color: #005CE1;"></div>
                <span>Environmental hazard reporting site</span>
              </div>
            </figcaption>
          </a>
        </figure>

        <figure class="anim-card" style="background-color: #442DFF;">
          <a target="_blank" href="https://github.com/AlexWolski/csc667-EventUp">
            <img src="../images/projects/EventUp-thumb.jpg" alt="EventUp"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop" style="background-color: #442DFF;"></div>
                <span>EventUp</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop" style="background-color: #442DFF;"></div>
                <span>Event posting app</span>
              </div>
            </figcaption>
          </a>
        </figure>

        <figure class="anim-card" style="background-color: #000;">
          <a target="_blank" href="https://github.com/669-Development-Team">
            <img src="../images/projects/dungeon-thumb.jpg" alt="Dungeon Crawler"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop" style="background-color: #000;"></div>
                <span>Dungeon Crawler</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop" style="background-color: #000;"></div>
                <span>A cool, fun game</span>
              </div>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>

    <!-- Will be substituted with the footer once it loads -->
    <div id="footer-placeholder"></div>
  </body>

  <script type="text/javascript">
    //Load the navbar and footer once the page loads
    loadNavbar('navbar-placeholder');
    loadFooter('footer-placeholder');
  </script>

</html>