<!DOCTYPE html>
<html>

  <head>
    <title>Projects | Alex Wolski</title>
    <!-- Meta data -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDNs -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Bluebird Promise library for IE support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <!-- Imports -->
    <link href="css/production/font.css" rel="stylesheet">
    <link href="css/production/index.css" rel="stylesheet">
    <link href="css/production/navbar.css" rel="stylesheet">
    <link href="css/production/footer.css" rel="stylesheet">
    <link href="css/production/copyPopup.css" rel="stylesheet">
    <link href="css/production/projects.css" rel="stylesheet">
    <script type="text/javascript" src="js/loadHtml.js"></script>
    <script type="text/javascript" src="js/copyText.js"></script>
    <!-- FavIcon -->
    <link rel="icon" href="images/favicon.ico" type="images/x-icon" />
  </head>

  <body>
  	<!-- Will be substituted with the navbar once it loads -->
  	<div id="navbar-placeholder"></div>
    <!-- A container for the contents of the page -->
    <div id="page-content">
      <h1 class="page-title"><b>Projects<b></h1>

      <!-- Code modified from Bootsnip, written by ravi: https://bootsnipp.com/snippets/3Meen -->
      <div class="grid">
        <figure class="anim-card">
          <a target="_blank" href="https://github.com/669-Development-Team">
            <img src="../images/projects/MFVR-thumb.jpg" alt="MFVR"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop"></div>
                <span>Mecha Fighter VR</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop"></div>
                <span>A multiplayer, Street Fighter inspired VR game made by a team of 5 using Unity</span>
              </div>
            </figcaption>
          </a>
        </figure>

        <figure class="anim-card">
          <a target="_blank" href="https://github.com/AlexWolski/csc648-SafeSF">
            <img src="../images/projects/SafeSF-thumb.jpg" alt="Safe SF"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop"></div>
                <span>Safe SF</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop"></div>
                <span>An environmental hazard reporting site developed by a team of 7</span>
              </div>
            </figcaption>
          </a>
        </figure>

        <figure class="anim-card">
          <a target="_blank" href="https://github.com/AlexWolski/csc667-EventUp">
            <img src="../images/projects/EventUp-thumb.jpg" alt="EventUp"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop"></div>
                <span>EventUp</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop"></div>
                <span>An event posting iOS app developed by a team of 5</span>
              </div>
            </figcaption>
          </a>
        </figure>

        <figure class="anim-card">
          <a target="_blank" href="https://github.com/AlexWolski/Dungeon-Crawler">
            <img src="../images/projects/DungeonCrawler-thumb.jpg" alt="Dungeon Crawler"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop"></div>
                <span>Dungeon Crawler</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop"></div>
                <span>A psuedo-3D puzzle game created from scratch in Java</span>
              </div>
            </figcaption>
          </a>
        </figure>

        <figure class="anim-card">
          <a target="_blank" href="https://github.com/AlexWolski/Tanks-3D">
            <img src="../images/projects/Tanks3D-thumb.jpg" alt="Tanks3D"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop"></div>
                <span>Tanks 3D</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop"></div>
                <span>A psuedo-3D 2-player competitive game created from scratch in Java</span>
              </div>
            </figcaption>
          </a>
        </figure>

        <figure class="anim-card">
          <a target="_blank" href="https://github.com/AlexWolski/csc413-Interpreter">
            <img src="../images/projects/Interpreter-thumb.jpg" alt="Interpreter"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop"></div>
                <span>X Interpreter</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop"></div>
                <span>An interpreter and virtual machine written in Java for a mock language X</span>
              </div>
            </figcaption>
          </a>
        </figure>

        <figure class="anim-card">
          <a target="_blank" href="https://github.com/AlexWolski/csc415-Shell">
            <img src="../images/projects/Shell-thumb.jpg" alt="C Shell"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop"></div>
                <span>C Shell</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop"></div>
                <span>A custom Linux shell program written in C complete with history and piping</span>
              </div>
            </figcaption>
          </a>
        </figure>

        <figure class="anim-card">
          <a target="_blank" href="https://github.com/AlexWolski/Zylem">
            <img src="../images/projects/Zylem-thumb.jpg" alt="Zylem"/>
            <figcaption>
              <div class="card-title">
                <div class="backdrop"></div>
                <span>Zylem</span>
              </div><br/>
              <div class="card-desc">
                <div class="backdrop"></div>
                <span>A 2D, plant-themed, strategy and upgrade game made using Processing</span>
              </div>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>

    <!-- Will be substituted with the footer once it loads -->
    <div id="footer-placeholder"></div>
  </body>

  <script type="text/javascript">
    //Load the navbar and footer once the page loads
    loadNavbar('navbar-placeholder');
    loadFooter('footer-placeholder');
  </script>

</html>