<!DOCTYPE html>
<html>

  <head>
    <title>Resume | Alex Wolski</title>
    <!-- Meta data -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDNs -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Bluebird Promise library for IE support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <!-- Imports -->
    <link href="css/font.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/copyPopup.css" rel="stylesheet">
    <link href="css/resume.css" rel="stylesheet">
    <link href="css/download.css" rel="stylesheet">
    <script type="text/javascript" src="js/loadHtml.js"></script>
    <script type="text/javascript" src="js/copyText.js"></script>
    <script type="text/javascript" src="js/adobeViewer.js"></script>
    <!-- FavIcon -->
    <link rel="icon" href="images/favicon.ico" type="images/x-icon" />
  </head>

  <body>
    <!-- Will be substituted with the navbar once it loads -->
    <div id="navbar-placeholder"></div>
    <!-- A container for the contents of the page -->
    <div id="page-content">
      <h1 class="page-title"><b>Resume<b></h1>

      <!-- Download button for the pdf -->
      <div class="download-container">
        <a class="download-button" download href="/documents/Resume - Alex Wolski 2020.pdf">
          <i class="fas fa-download"></i> Download PDF
        </a>
      </div>

      <!-- Embedded PDF file -->
      <div id="pdf-view-container">
        <div id="adobe-dc-view"></div>
      </div>

      <!-- Add a listner to load the pdf viewer once the element is ready -->
      <script type="text/javascript">
        viewPDF('adobe-dc-view', 'IN_LINE', '/documents/Resume - Alex Wolski 2020.pdf', 'Resume - Alex Wolski 2020.pdf')
      </script>
    </div>

    <!-- Will be substituted with the footer once it loads -->
    <div id="footer-placeholder"></div>
  </body>

  <script type="text/javascript">
    //Load the navbar and footer once the page loads
    loadNavbar('navbar-placeholder');
    loadFooter('footer-placeholder');
  </script>

</html>