.contacts-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[4];
  grid-template-columns: repeat(4, minmax(300px, 1fr));
      grid-template-areas: "a b c d";
  max-width: 1500px;
}

@media screen and (max-width: 1400px) {
  .contacts-grid {
    -ms-grid-columns: (minmax(300px, 1fr))[2];
    grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-areas: "a b" "c d";
  }

  .half-width-grid {
        grid-template-areas: "b c" "a d";
  }
}

@media screen and (max-width: 700px) {
  .contacts-grid {
    -ms-grid-columns: minmax(300px, 1fr);
    grid-template-columns: minmax(300px, 1fr);
        grid-template-areas: "a" "b" "c" "d";
  }

  .half-width-grid {
        grid-template-areas: "b b" "c c";
  }
}

.cell-a {
   -ms-grid-row: 1;
   -ms-grid-column: 1;
   grid-area: a;
}

.cell-b {
   -ms-grid-row: 1;
   -ms-grid-column: 2;
   grid-area: b;
}

.cell-c {
   -ms-grid-row: 1;
   -ms-grid-column: 3;
   grid-area: c;
}

.cell-d {
   -ms-grid-row: 1;
   -ms-grid-column: 4;
   grid-area: d;
}

@media screen and (max-width: 1400px) {
  .cell-a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .half-width-grid > .cell-a {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .cell-b {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .half-width-grid > .cell-b {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .cell-c {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .half-width-grid > .cell-c {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .cell-d {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .half-width-grid > .cell-d {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

@media screen and (max-width: 700px) {
  .cell-a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .cell-b {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .half-width-grid > .cell-b {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .cell-c {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .half-width-grid > .cell-c {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .cell-d {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}


.contact-info {
  align-items: vertical;
  text-align: center;

  background-color: #fff;
  border-radius: 40px;
  width: 80%;
  height: 200px;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  margin-bottom: 15px;

  box-shadow: 0px 0px 10px grey;
  transition: box-shadow 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact-info:hover {
  box-shadow: 0px 0px 20px grey;
  transition: box-shadow 0.1s linear;
  cursor: pointer;
}

.contact-title {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.contact-text {
  color: #484848;
  width: 80%;
  margin: auto;
  font-size: 1em;
}

.contact-icon {
  color: #5580de;
  font-size: 80px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: none !important;
}