.contacts-grid {
  display: grid;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em 1em;

  max-width: 1500px;
}

.contact-info {
  -webkit-box-align: vertical;
     -moz-box-align: vertical;
      -ms-flex-align: vertical;
          align-items: vertical;
  text-align: center;

  background-color: #fff;
  border-radius: 40px;
  width: 80%;
  height: 220px;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;

  -webkit-box-shadow: 0px 0px 10px grey;

          box-shadow: 0px 0px 10px grey;
  -webkit-transition: -webkit-box-shadow 0.1s linear;
  transition: -webkit-box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; 
}

.contact-info:hover {
  -webkit-box-shadow: 0px 0px 20px grey;
          box-shadow: 0px 0px 20px grey;
  -webkit-transition: -webkit-box-shadow 0.1s linear;
  transition: -webkit-box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
}

.contact-info:hover {
  cursor: pointer;
}

.contact-title {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.contact-text {
  color: #484848;
  width: 80%;
  margin: auto;
  font-size: 1em;
}

.contact-icon {
  color: #5580de;
  font-size: 100px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-underline:hover {
  text-decoration: none !important;
}

.copy-button:hover {
  cursor: pointer;
}