/* Code modified from Bootsnip, written by ravi: https://bootsnipp.com/snippets/3Meen */

/* Card grid formatting */
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #506EAF;
	text-align: center;
	border-radius: 20px;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.5;
}

.grid figure figcaption {
	padding: 5%;
	color: #fff;
	font-size: 20px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: 0.1em;
	font-size: 40px;
	font-weight: 800;
}
.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Card styling and animation */

figure.anim-card img {
	transition: opacity 0.35s, transform 0.35s;
}

figure.anim-card:hover img {
	opacity: 1;
}

figure.anim-card h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #fff;
	transition: transform 0.35s, color 0.35s;
	transform: translate3d(0,-50%,0);
}

figure.anim-card figcaption::before,
figure.anim-card p {
	transition: opacity 0.35s, transform 0.35s;
}

figure.anim-card p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	transform: translate3d(0,10px,0);
}

figure.anim-card:hover h2 {
	color: #fff;
	transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
}

figure.anim-card:hover figcaption::before,
figure.anim-card:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}