.contacts-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-template-areas: "a b c d";
  max-width: 1500px;
}

@media screen and (max-width: 1400px) {
  .contacts-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-areas: "a b" "c d";
  }

  .half-width-grid {
    grid-template-areas: "b c" "a d";
  }
}

@media screen and (max-width: 700px) {
  .contacts-grid {
    grid-template-columns: minmax(300px, 1fr);
    grid-template-areas: "a" "b" "c" "d";
  }

  .half-width-grid {
    grid-template-areas: "b b" "c c";
  }
}

.cell-a {
   grid-area: a;
}

.cell-b {
   grid-area: b;
}

.cell-c {
   grid-area: c;
}

.cell-d {
   grid-area: d;
}


.contact-info {
  align-items: vertical;
  text-align: center;

  background-color: #fff;
  border-radius: 40px;
  width: 80%;
  height: 200px;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  margin-bottom: 15px;

  box-shadow: 0px 0px 10px grey;
  transition: box-shadow 0.1s linear;
  user-select: none;
}

.contact-info:hover {
  box-shadow: 0px 0px 20px grey;
  transition: box-shadow 0.1s linear;
  cursor: pointer;
}

.contact-title {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.contact-text {
  color: #484848;
  width: 80%;
  margin: auto;
  font-size: 1em;
}

.contact-icon {
  color: #5580de;
  font-size: 80px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: none !important;
}