#footer {
  display: block;
  height: 75px;
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
}

.footer-link {
  color: white;
  font-size: 20px;
  padding: 10px;
  position: relative;
}

.footer-link:hover {
  color: #C0C0C0;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

#copied-popup {
  background-color: #707070;
  color: white;
  font-weight: normal;
  width: 80px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  /* Center the popup above the parent */
  left: calc(-1 * (40px - 20px));
  bottom: 65px;
  pointer-events: none;
}

#popup-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 0 15px;
  border-color: #707070 transparent transparent transparent;
  position: absolute;
  /* Center the triangle below the popup body */
  left: calc(40px - 15px);
}

.fadeIn {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.1s linear;
}

.fadeOut {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 1s, opacity 1s linear;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome & Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}