#page-content {
  padding-top: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.intro-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  min-width: 900px;
}

.intro-title {
  margin-bottom: 40px;
  font-weight: bold;
}

.intro-item {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 35px;
}

.highlight-text {
  color: #506EAF;
  font-weight: bold;
}

@media screen and (max-width: 1470px) {
  .flex-container {
    flex-direction: column;
  }

  .intro-title {
    text-align: center;
  }

  .intro-item {
    text-align: center;
  }
}