html, body {
  background-color: #D5DCE3;
}

#footer {
  padding-top: 10px;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
}

.footer-link {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.footer-link:hover {
  color: #C0C0C0;
  text-decoration: none;
  cursor: pointer;
}