#navbar-placeholder {
  height: 78px;
  background-color: #494949;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#page-content {
  background-color: #D5DCE3;
  /*The minimum height of the page is the heigh the screen minus the header and footer*/
  min-height: calc(100vh - 78px - 75px);
}