.navbar {
  background-color: #494949;
}

.navbar-nav > li {
  padding-left:10px;
  padding-right:10px;
}

.navbar-brand {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 35px;
}

.navbar-brand:hover {
  color: #C0C0C0 !important;
}

.nav-link {
  color: white !important;
  font-weight: 500;
  text-decoration: underline;
  font-size: 25px;
}

.nav-link:hover {
  color: #C0C0C0 !important;
  text-decoration: none;
}