#navbar-placeholder {
  height: 78px;
}

.navbar {
  background-color: #494949;
}

.navbar-nav > li {
  padding-left:10px;
  padding-right:10px;
}

.navbar-brand {
  color: white;
  font-weight: 500;
  font-size: 35px;
}

.navbar-brand:hover {
  color: #C0C0C0 !important;
}

.nav-link {
  font-weight: 500;
  font-size: 25px;
}

.nav-unselected {
  color: white !important;
}

.nav-selected {
  color: #C0C0C0 !important;
}

.nav-link:hover {
  color: #C0C0C0 !important;
}