#adobe-dc-view {
  width: 70% !important;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

/* Transition the margin size between 1200px and 859px */
@media screen and (max-width: 1200px) {
  #adobe-dc-view {
    width: 745px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .download-container {
    margin-right: calc((90vw - 760px)/2) !important;
  }
}

/* Remove the margins on the pdf under 850px */
@media screen and (max-width: 850px) {
  #adobe-dc-view {
    width: 100% !important;
    margin-left: 0px;
    margin-right: 0px;
  }

  .download-container {
    margin-right: 0px !important;
  }
}